@use '../../bits/colors';
@use '../../bits/mixins';

.button {
    @include mixins.heading-font-bold;
    // @include mixins.single-transition;

    -webkit-tap-highlight-color: transparent;

    background: colors.$primary-color-600;
    border-radius: 100px;
    box-shadow: 0 1px 3px colors.$primary-color-300;
    color: colors.$gray-color-100;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    letter-spacing: .075em;
    line-height: 1;
    padding: 1.125rem 1.75rem;
    text-align: center;
    text-shadow: 0 1px 2px colors.$primary-color-900;
    text-decoration: none;
    text-transform: uppercase;

    span {
        color: colors.$black;
    }

    //&:focus,
    //&:hover,
    //&:active {
    //    background: colors.$primary-color-800;
    //}
}
