#lpckLagWarningOverlay {
	display: none !important;
}

main, .no-js-message {
	width: 100%;
	float: right;
	background: #fcfcfc;
}

main {
	min-height: 100%;
}

.no-js-message {
	background: lighten($alert-color, 35%);
	p {
		margin: 1em 0;
	}
}

body {
	background: $header-color;
}
article {
	padding: 1em 0;	
}

.page-heading {
	background: lighten($gray-color, 10%);
	// border-bottom: 2px solid $header-color;
	box-shadow: inset 0 -2px 3px 0 darken($gray-color, 10%), inset 0 2px 3px 0 darken($gray-color, 10%);
	h1 {
		margin: 0;
		padding: .5em 0;
		font-size: 2.5em;
		text-shadow: 1px 1px #fff;
	}

	.button,button {
		float: right;
		display: none;
		padding: .5em 0em;
	}

	.no-buttons {
		@extend .small-12;
		@extend .columns;
	}

	.buttons-grid {
		@extend .small-12;
		@extend .large-6;
		@extend .xlarge-4;
		@extend .columns;

		.button-section {
			@extend .small-12;
			@extend .medium-4;
			@extend .columns;
			@extend .right;
		}
	}

	.heading-grid {
		@extend .small-12;
		@extend .large-6;
		@extend .xlarge-8;
		@extend .columns;
	}

}

.cars-js {
	.page-heading {
		.button {
			display: block;
		}
	}
}

.content-help {
	@extend .small-12;
	@extend .xlarge-8;
	@extend .columns;
}

.no-float {
	clear: both;
}

.cars-touch {

	body {
		&.fixfixed {
			.top-bar {
				position: static !important;		
			}

			main {
				margin: 0;
			} 
			background: $header-color;
		}
	}	
}
  
    
.market-grid {
	@extend .row;
	.market {
		@extend .small-12;
		@extend .medium-6;
		@extend .large-4;
		@extend .xlarge-3;
		@extend .columns;
	}
}

.market {
	padding: 1em;
	float: left;

	h3 {
		font-size: 1.5em;
		padding: .25em 0;
	}
	
	.checkbox-radio {
		padding: 0;
	}
	.market-contanier {
		background: lighten($gray-color, 10%);
		border: 1px solid #ddd;
		border-radius: $global-radius;
		overflow: hidden;
		float: left;
		width: 100%;
		box-shadow: inset 0 -1px 3px 1px darken($gray-color, 10%);

		h5 {
			padding: .25em; 
			background: $header-color;
			text-align: center;
			margin: 0;
			@include heading-font-regular;
			color: #fcfcfc;
			font-size: 1.25em;
			border-bottom: none;
		}

		.market-link {
			padding: .25em; 
			background: $primary-color;
			width: 100%;
			display: block;
			text-align: center;
			color: #fcfcfc;
			float: left;
			font-size: 1em;
			@include single-transition(all, .125s, linear);
			border: none;

			&:hover {
				background: darken($primary-color, 5%);
				color: #fcfcfc;
				border: none;
			}
		}

		.status {
			text-align: center;
			margin: 0;
			padding: .25em;
			background: darken($gray-color, 5%);
			font-size: 1em;
			float: left;
			width: 100%;
		
			span {
				@include body-font-bold;
			}
		}

		.terms {
			padding: .5em;
			float: left;
			width: 100%;
		}

		.total-cost {
			float: left;
			width: 100%;
			padding: .25em; 
			background: $header-color;
			display: block;
			text-align: center;
			color: #fff;
		}
	}	
	
	&.listing-amount {
		h5 {
			border-bottom: 3px solid $primary-color;
		}
	}
}    


.listing-amount {
	@extend .small-12;
	@extend .columns;
}

.add-something {
	@extend .button;
	padding: .25em;
} 

.remove {
	//margin: -3.25em -1.25em 0 0em;
	position: relative;
	cursor: pointer;
	display: inline-block;
	color: $gray-color;
	&:before {
		font-family: FontAwesome;
		content: "\f00d";
		padding: .25em;
	}
	&:after {
		content: ' Remove';
	}

	&:hover,&:active,&:focus {
		color: $alert-color;
	}
}

.action-links {
	div {
		@extend .small-6;
		@extend .medium-4;
		@extend .large-2;
		@extend .columns;
		@extend .left;

		.button, button {
			width: 100%;
			padding: .5em 0em;
		}


	}
}

.remove-field {
	input {
		margin: 0;
	}

	span {
		margin: 0 0 1em;
	}
}

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} {

	main, .no-js-message {
		width: 75%;
		
		margin: $topBarHeight 0 0;
	} 

	.no-js-message {
		margin: $topBarHeight 0 0-$topBarHeight;
	}

	.page-heading {
		.button,button {
			width: 100%;	
		}
		
	}
	

	.listing-amount {
		label {
			width: 100 / 2 * 1%;
			float: left;
			text-align: center;
		}
	}
	.cars-touch {
		body {
			&.fixfixed {
				.top-bar {
					
				}
				.main-navigation {
					position: static !important
				}

				main {
				
					min-height: 100%;
				} 
				
			}
		}	
	}

	.market:nth-of-type(odd) {
		clear: left;
	}

	
	.cars-touch {
		.remove {
			&:after {
				content: ' Remove';
			}
		}
		.remove-field {
			.remove {
				//right: -5.25em;
			}
		}
	}

}
@media #{$medium-only} { }

@media #{$large-up} { 
	main, .no-js-message {
		width: 80%;
	}

	.page-heading {
		.button,button {
			margin: 1em 0 0;
		}

		h1 {
			//padding: .5em 1rem;
		}
	}

	article {
		//padding: 1em;
	}

	.market:nth-of-type(odd) {
		clear: none;
	}

	.market:nth-of-type(3n+1) {
		clear: left !important;
	}

	.buttons-grid {

		.button-section {
			
		}

		&:last-of-type {
			//padding-right: 1.9375rem;
		}
	}

	
	.action-links {
		@include flexbox;
		div {
			@include flex(1 1 auto);

			.button {
				width: 100%;
			}

			
		}
	}

	.listing-amount {
		label {
			width: 100 / 4 * 1%;
			float: left;
			text-align: center;
		}
	}

}
@media #{$large-only} { }

@media #{$xlarge-up} { 
	main, .no-js-message {
		width: 85%;
	}
	
	.market:nth-of-type(3n+1) {
		clear: none !important;
	}

	.market:nth-of-type(4n+1) {
		clear: left !important;
	}
}
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }