%validation-box {
	padding: 0 1em 1em;
	.message {
		width: 100%;
		padding: .5em;
		border-radius: $global-radius;
	}
}

@mixin validation($color) {
	.message {
		background: lighten($color, 40%);
		border-left: 4px solid $color;

		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				margin: 0;
				padding: .25em .5em;
			}
		}
	}
}


.error-validation {
	@extend %validation-box;
	@include validation($alert-color);
}


.warning-validation {
	@extend %validation-box;
	@include validation($warning-color);
}


.success-validation {
	@extend %validation-box;
	@include validation($success-color);
}