/* stylelint-disable */
@use 'sass:color';

$tertiary-color: rgb(42, 84, 109);
$tertiary-color-shade: rgb(35, 72, 94);
$tertiary-color-tint: rgb(65, 114, 140);

$alert-color: #f04124;
$alert-color-shade: color.adjust(#f04124, $lightness: -5%);
$alert-color-tint: color.adjust(#f04124, $lightness: 35%);

$success-color: #1dd400;
$success-color-shade: color.adjust(#1dd400, $lightness: -5%);
$success-color-tint: color.adjust(#1dd400, $lightness: 5%);

$warning-color: #f08a24;
$info-color: #a0d3e8;
$header-font-color: #ccc;
$button-color: #27ac27;

$white: #fff;
$off-white: #bebfc2;

$black: #262626;
$off-black: #888;

$font-color: #222;
$font-color-shade: #111;
$font-color-tint: #555;

// primary-color
$primary-color-100: rgb(239, 255, 229);
$primary-color-200: rgb(211, 255, 184);
$primary-color-300: rgb(179, 255, 128);
$primary-color-400: rgb(160, 255, 92);
$primary-color-500: rgb(128, 255, 31);
$primary-color-600: rgb(103, 230, 0);
$primary-color-700: rgb(95, 204, 0);
$primary-color-800: rgb(81, 168, 0);
$primary-color-900: rgb(56, 112, 0);
$primary-color-1000: rgb(40, 77, 0);

$primary-map: (
    100: $primary-color-100,
    200: $primary-color-200,
    300: $primary-color-300,
    400: $primary-color-400,
    500: $primary-color-500,
    600: $primary-color-600,
    700: $primary-color-700,
    800: $primary-color-800,
    900: $primary-color-900,
    1000: $primary-color-1000,
);

// gray-color
$gray-color-100: rgb(250, 250, 250);
$gray-color-200: rgb(237, 239, 235);
$gray-color-300: rgb(216, 220, 214);
$gray-color-400: rgb(190, 195, 187);
$gray-color-500: rgb(165, 168, 163);
$gray-color-600: rgb(140, 144, 137);
$gray-color-700: rgb(114, 122, 108);
$gray-color-800: rgb(89, 96, 82);
$gray-color-900: rgb(51, 56, 46);
$gray-color-1000: rgb(26, 29, 22);

$gray-map: (
    100: $gray-color-100,
    200: $gray-color-200,
    300: $gray-color-300,
    400: $gray-color-400,
    500: $gray-color-500,
    600: $gray-color-600,
    700: $gray-color-700,
    800: $gray-color-800,
    900: $gray-color-900,
    1000: $gray-color-1000,
);
