@use 'sass:map';
@use '../bits/colors';
@use '../bits/mixins';
@use '../bits/setup';

html {
    height: 100%;
}

body {
    background-color: #262932;
    background-image: url('../images/batthern.png'), linear-gradient(135deg, #1f222c, #1b3c4b);
    background-repeat: repeat;
    height: 100%;
    position: relative;
}

.home-base-layout {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0 auto;
    max-width: 50rem;
    padding-bottom: 1rem;
}

.layout-squad {
    column-gap: map.get(setup.$grid-gutters, small);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    user-select: none;
}

.layout-squad-members {
    column-gap: map.get(setup.$grid-gutters, small);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 1rem;
    user-select: none;
}

.randomize {
    padding: 1.5rem 1rem;
    text-align: center;
}

.squad-choices-layout {
    column-gap: map.get(setup.$grid-gutters, small);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: .25rem;
    padding: 0 1rem;
}

.spacer {
    flex: 1 1 auto;

}
